# Laravel
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor

# Environment files
.env
.env.backup
.env.production

# Database
/database/database.sqlite

# IDE
/.fleet
/.idea
/.nova
/.vscode
/.zed
.phpactor.json

# OS
.DS_Store
Thumbs.db

# Testing & Cache
.phpunit.result.cache
/.phpunit.cache
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
!/storage/logs/.gitignore

# Build & Deploy
/public/mix-manifest.json
*.log
debugbar.json
clockwork/

# Laravel specific
Homestead.json
Homestead.yaml
auth.json
/storage/pail
